<div class="header">
  <div class="page-title" [routerLink]="'/overview'">
    <span class="color-yellow">Fi</span><span class="color-red">tk</span
    ><span class="color-black">o-</span><span class="color-yellow">To</span
    ><span class="color-red">olk</span><span class="color-black">it</span>
  </div>
  <div class="nav-bar">
    <button mat-button [routerLink]="'/produktmanagement'">
      Produktmanagement
    </button>
    <button mat-button [routerLink]="'/datenschutz'">Datenschutz</button>
  </div>
  <div class="user-profile">
    <p>
      <mat-slide-toggle
        [(ngModel)]="darkModeEnabled"
        (change)="onDarkModeChangeClicked()"
        >Dunkel</mat-slide-toggle
      >
    </p>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
